@media screen and (min-width: 270px) {
    .liste__btn-saq-creer {
        align-content: center;
        background-color:  rgb(126, 10, 10);
        color:#e9eccd;
        font-weight: 100;
        font-size: 100%;

    }
    .bouteille__img {
        margin: 0.1vw 0;
        height: 120px;
        width: auto;
    }
    .mat-raised-button {
        font-size: 100%;
        line-height: 18px;
        font-weight: lighter;
        color: #e9eccd;
        padding: 3px 16px;
        height: auto;
        width: auto;
    }
    .material-icons {
        padding-bottom: 3px;
        font-size: 18px;
    }
    .mat-mini-fab {
        height: 30px;
        width: 30px;
    }
    .mat-icon {
        height: 18px;
    }
    .liste__btn-saq{
        align-content: center;
        background-color:  rgb(126, 10, 10);
        color:#e9eccd;
        font-weight:lighter;
    }
    tr.mat-header-row {
        height: 5px;
    }
    .cdk-overlay-pane {
        width: 100% !important;
    }
    .mat-table {
        font-size: 80%;
        border: 0;
        vertical-align: middle;
        line-height: 60%;
    }

    .mat-table caption {
        font-size: 1em;
    }

    .mat-table .mat-header-cell {
        display: block;
    }
    
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: center;
        font-weight: bold;
        height:auto;
        margin-bottom: 4%;
    }

    .mat-table .mat-cell:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        
        font-size: .85em;
    }
    .mat-table .mat-cell {
        border-bottom: 0;
    }
        .mat-table .mat-cell:last-child {
        height: 50px;
        margin-top: 10px;
        border-bottom: 1px solid #ddd;
    }

    .mat-table .mat-cell:first-child {
        margin-top: 10px;
    }

    .bouteille__image{
        width: 50vw;
    }
    td.mat-cell:first-of-type {
        padding-left: 0;
    }

    td p {
        align-items: center;
    }
    .mat-table .mat-header-cell {
        display: none;
    }
    .th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
        padding: 0;
    }

}
@media screen and (min-width: 390px) {
    .mat-form-field {
        font-size: 90%;
    }
    .bouteille__img {
        align-items: center;
        height: 40vw;
        width: auto;
        line-height: 1;
        margin-top: 16px;
    }

    td.mat-cell {
        text-align: center;
        font-size: 3rem;
        line-height: 1;
        padding: 5px;
        margin-bottom: 0 !important;
    }
    .buttons {
        padding-top: 12px ;
    } 
    .mat-mini-fab {
        font-size: 2px;
        width: 20px !important;
        height: 20px !important;
        line-height: 18px !important;
    } 
    .mat-mini-fab .mat-button-wrapper {
        padding: 7px 0 !important;
    }
    .span.mat-button-wrapper {
        width: 20px !important;
        height: 20px !important;
        line-height: 18px !important;
    } 
    .mat-ripple {
        margin-top: 10px !important;
    }
    .mat-icon {
        padding-top: 0px !important;
        width: 20px;
    }
    .material-icons {
        line-height: -0.3 !important;
        font-size: 14px !important;
    }
    .mat-raised-button {
        font-size: 10px;
        min-width: 30px;
        padding: 0 6px;
        line-height: 24px;
    }
}
@media screen and (min-width: 700px) {
    .bouteille__img {
        align-items: center;
        width: auto;
        margin-top: 16px;
    }
    th.mat-header-cell, .mat-sort-header-container {
        text-align: center;
        
    }
    td.mat-cell {
        text-align: center;
        
    }
    .mat-mini-fab {
        width: 30px;
        height: 30px;
    }
    .material-icons {
        padding-top: 3px;
        line-height: 0.5;
        font-size: 19px;
    }

    button+button {
        margin-top: 5px;
    }
    
}
@media screen and (min-width: 900px) {
    .mat-table .mat-header-cell {
    
        display: flex;
    }
    table {
        width: 100%;
    }
    
    .liste__btn{
        background-color: rgb(126, 10, 10);
        color: rgb(233, 236, 205);
        margin-right: 10px;
    }
    
    .liste__btn-saq{
        background-color:  rgb(126, 10, 10);
        color:rgb(170, 159, 60);
        font-weight: bold;
    }
    
    .liste__btn-saq-creer{
        background-color: rgb(79, 2, 2);
        color:rgb(170, 159, 60);
        font-weight: bold;
    }
    
    .mat-dialog-container {
        width: 20% !important;
    }
    // .mat-sort-header-container {
    //   align-items: center;
    // }
    section{
        margin: 70px 4vw 4vw 4vw;
    }
    
    table {
        width: 100%;
    }
    
    th {
        background-color: rgb(79, 2, 2);
        color:rgb(170, 159, 60);
        font-weight: bolder;
      
    }
    
    // td p {
    //   margin-left: 1vw;
    // }
    
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
    
    .create-btn{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 20px 0 0 0;
    }
    
    .bouteille__img{
        margin: 0.5vw 0;
        width: auto;
    }
    
    
    
}
